

<p>
  <strong>Due date:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>Completion date:</strong>
  <%= @task.completion_date %>
</p>

<p>
  <strong>Label:</strong>
  <%= @task.label %>
</p>

<p>
  <strong>Sync:</strong>
  <%= @task.sync %>
</p>

<p>
  <strong>Category:</strong>
  <%= @task.category.label %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
